#duplicate_review{
    background-image: url("https://thumbs.gfycat.com/AdorableEnchantingCalf-size_restricted.gif");
    background-position: center;
}
#no_review{
    background-image: url("https://c.tenor.com/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif");
}
h1{
    background-color: black;
    color: red;
    text-align: center;
    padding: 1%;
}