body{
    background-image: url("http://d279m997dpfwgl.cloudfront.net/wp/2020/12/GettyImages-1150049038-1000x630.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2{
    text-align: center;
}

.darkbg_white_text{
    background-color: #1C2A35;
    color: white;
    width: fit-content;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

#outer_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_adder{
    display: flex;
    flex-direction: column;
    padding: 10px
}

#comment_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#movie_card{
    margin: 1%
}
#review_card{
    margin: 1%;
    height: fit-content;
    width: 34rem;
}

.comment_btn{
    margin: 10px;
    padding: 5px
}
