body{
    /* background-color: #3d3d3d; */
    background-image: url("https://wallpapercave.com/wp/p4iaEa4.jpg");
    padding: 0px;
    margin:0px;
    width:100%;
    height:100vh;
    font-family: 'Lato';
    
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #d4250e;
} 
h2, h3 {
    text-align: center;
    text-shadow: 2px 2px #ff3300;
}

.intro-heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    margin-top: 3rem;

  }

  

.button {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
.wrapper{
    /* position: absolute; */
    top:60%;
    left:50%;
    /* transform: translate(-50%, -50%); */
    width:100%;
    max-width: 1000px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    
}
.card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    width: 22%;
    margin-bottom: 1rem;
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}
.card p{
    line-height: 24px;
    height: 70%;
}
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}


/* loading */
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: rgba(197, 39, 39, 0.918) url('countdown.gif') no-repeat center center;
    background-size: cover;
}

/* navbar */

nav {
    position: absolute;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

nav .logo {
    float: left;
    font-size: 17px;
    color: white;
    padding: 15px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;

}

.logo img{
    border-radius: 5px;
    width: 49px;
    height: 40px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 30px;
}

nav ul li {
    display: inline-flex;
    margin: 0 5px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li:hover {
    background-color: crimson;
}

nav ul li:nth-child(5) {
    background-color: crimson;
}
 /*media queries*/

 @media only screen and (max-width: 620px) {
    .intro-heading {
        font-size: 25px;
    }

    nav ul {
        display: none;
    }

    .wrapper {
        justify-content: center;
        
    }
    form {
        display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    margin-bottom: 1rem;
    }
}
  
  



